{% extends 'base.html.twig' %}

{% block title %}Hello SousCategorieController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
{% for sousCategorie in sousCategories %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 m-3 text-center">
            <a href="/produit/{{ sousCategorie.id}}">
                <img class="" src="/images/{{ sousCategorie.image }}">
                    {{ sousCategorie.nom }}
                </img>
            </a>
        </div>
{% endfor %}
    </div>
</div>

{% endblock %}
