.btn:hover{
    background-color: #e90ea7;
}

.carou{
    height: 25px;
    width: auto;
    margin: auto 25%;
    border-radius: 50%;
    
}
.carou{
    background-color: black;
}
.carou:hover{
    background-color: blueviolet;
}

a {
    text-decoration: none;
    color: black;
}
.bgHead{
    background-color: rgb(128, 126, 126);
}

.bgGB{
    background: linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 50%,
      rgb(255, 81, 0) 50%,
      rgb(255, 81, 0)  100%
    );
  }

.card {
    border: none;
}

.imgdetail {
    width:500px;
    height: 500px;
}

.imagePanier{
    width: 80px;
    height: auto;

}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

