{% extends 'base.html.twig' %}

{% block title %}Hello detailController!{% endblock %}

{% block body %}
<style>
         .miniature{
            height:50px;
         }   
         .exempleSonore{
            height:100px;
         }
         .forSticky{
            height:100rem;
         }
        </style>
<div class="container">
<div class="row">

      {% for produit in produits %}
<div class="col-8">
<div class="container">
<div class="row">
<div class="fs-1">
{{ produit.nom }}
</div> 

<img src="/images/{{ produit.image }} " class="imgdetail mx-auto "> 
<div class="bg-light mb-2 miniature">Miniature</div>
<div class="bg-light exempleSonore">Exemple sonore</div>
</div>
</div>
</div>

<div class="col-4 bg-light forSticky">

<div class="fs-1 sticky-sm-top">
{{ produit.prix}}€


</div> 



</div>
 {% endfor %}



 </div>
</div>
{% endblock %}