{% extends 'base.html.twig' %}

{% block title %}Hello GuitaresBassesController!{% endblock %}

{% block body %}
<div class="bgGB">
    <div class="container">
        <div class="row">
            <div class="card p-0 text-white">
                <img src="{{asset('images/GuitareBasseBandeau.jpg')}}" class"card-img">
                    <div class="card-img-overlay">
                        <a type="button" class="btn btn-dark" href="/">Accueil</a>
      
                       {% if id == 1 %}     
                            <h1 class="card-title ">Guitares & Basses</h1>
                       {% endif %} 
                            {% if id == 2 %}     
                                <h1 class="card-title ">Batterie & Percussions</h1>
                            {% endif %}   
                                {% if id == 3 %}     
                                <h1 class="card-title ">Piano & Claviers</h1>
                                {% endif %}  
                                    {% if id == 4 %}     
                                        <h1 class="card-title ">Studio & Enregistrement</h1>
                                    {% endif %}  
                                        {% if id == 5 %}     
                                            <h1 class="card-title ">Logiciels Musicaux</h1>
                                        {% endif %}  
                                            {% if id == 6 %}     
                                                <h1 class="card-title ">Sonorisation</h1>
                                            {% endif %}  
                          
                            {# <p class="card-text">
                              This is a wider card with supporting text below as a natural lead-in to additional
                              content. This content is a little bit longer.
                            </p>
                            <p class="card-text">Last updated 3 mins ago</p> #}
                      </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
{% for sousCategorie in sousCategories %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 m-3 text-center">
            <a href="/guitares_electriques/{{ sousCategorie.id}}">
                <img class="" src="/images/{{ sousCategorie.image }}">
                    {{ sousCategorie.nom }}
                </img>
            </a>
        </div>
{% endfor %}
    </div>
</div>

{% endblock %}
