{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div class="container">
<div class="row ">
 {% for produit in produits %}

 <div class="col-12 col-sm-6 col-md-5 col-lg-4 text-center  border-bottom d-flex" >

      <a href="/guitares_basses/{{ produit.id }}">
     
      <img src="/images/{{ produit.image }}"> 
     
        {{ produit.nom }}
        
        </img>
      </a>

      </div>

 {% endfor %}
  </div>
   </div>
{% endblock %}