{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

{# <div style="width:100%;height:0;padding-bottom:82%;position:relative;"><iframe src="https://giphy.com/embed/oDwLkh1diFCH6" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/hoppip-photoset-hoppip-oDwLkh1diFCH6">via GIPHY</a></p> #}
<div class="container">
<div class="d-flex">

<iframe src="https://giphy.com/embed/oDwLkh1diFCH6" width="480" height="392" ></iframe>

<iframe src="https://giphy.com/embed/oDwLkh1diFCH6" width="480" height="392" ></iframe>

<iframe src="https://giphy.com/embed/oDwLkh1diFCH6" width="480" height="392" ></iframe>

</div>
</div>
{% endblock %}